<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="card">
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                <th>RCH ID</th>
                <th>Patient Name</th>
                <th>Assigned Asha Worker</th>
                <th>No of Pending Followups</th>
                <th>Next Followup Due by</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr class="table-default">
                <td><a href="patient-followup.html"><strong>KR2038</strong></a></td>
                <td><a href="patient-followup.html">Kalyani</a></td>
                <td><a href="phc_details.html"><div class="avatar avatar">
                  <img src="../../assets/avatars/1.png"  alt class="w-px-34 h-auto rounded-circle" />
                </div></a></td>
                <td>1</td>
                <td><a href="patient-followup.html">15-09-2022</a></td>
              </tr>
              
              <tr class="table-default  " onclick="window.location='#';">                
                <td>
                    <a href="patient-followup.html"><strong>AM8675</strong></a>                        
                </td>
                <td><a href="patient-followup.html">Madhumitha</a></td>
                <td>
                    <a href="phc_details.html"><div class="avatar avatar">
                      <img src="../../assets/avatars/5.png"  alt class="w-px-34 h-auto rounded-circle" />
                    </div></a>
                </td>
                <td>3</td>  
                <td><a href="patient-followup.html"><span class="badge bg-label-danger">Overdue</span></a></td> 
              </tr>

              <tr class="table-default">
                <td><a href="patient-followup.html"><strong>HJ8203</strong></a></td>
                <td><a href="patient-followup.html">Raman</a>
                </td>
                <td>
                  <a href="phc_details.html"><div class="avatar avatar">
                    <img src="../../assets/avatars/7.png"  alt class="w-px-34 h-auto rounded-circle" />
                  </div></a>
                </td>
                <td>0</td>
                <td><a href="patient-followup.html">-</a></td>
              </tr>
              <tr class="table-default">
                <td><a href="patient-followup.html"><strong>SH9203</strong></a></td>
                <td><a href="patient-followup.html">Ranjini</a></td>
                <td>
                  <a href="phc_details.html"><div class="avatar avatar">
                    <img src="../../assets/avatars/1.png"  alt class="w-px-34 h-auto rounded-circle" />
                  </div></a>
                </td>
                <td>4</td>
                <td><a href="patient-followup.html">10-09-2022</a></td>
              </tr>
              
              <tr class="table-default">
                <td><a href="patient-followup.html"><strong>MN3922</strong></a></td>
                <td><a href="patient-followup.html">Samyuktha</a></td>
                <td>
                  <a href="phc_details.html"><div class="avatar avatar">
                    <img src="../../assets/avatars/5.png"  alt class="w-px-34 h-auto rounded-circle" />
                  </div></a>
                </td>
                <td>2</td>
                <td><a href="patient-followup.html"><span class="badge bg-label-danger">Overdue</span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--/ Contextual Classes -->
    
     
      <!--/ Responsive Table -->
    </div>
    <!-- / Content -->

    

    <div class="content-backdrop fade"></div>
  </div>