<div class="content-wrapper" >
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card" style="margin-left: 200px; ">
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>RCH ID</th>
              <th>Patient Name</th>
              <th>Discharge Date</th>
              <th>Discharge Details</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr class="table-default">
              <td> <a href="patient-details.html"><strong>AM29871</strong></a></td>
              <td><a href="patient-details.html">Madhumitha</a></td>
              <td><a href="patient-details.html">08-09-2022</a></td>
              <!-- <td>
                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                  <li
                    data-bs-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-bs-placement="top"
                    class="avatar avatar-xs pull-up"
                    title="Lilian Fuller"
                  >
                    <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                  </li>
                  <li
                    data-bs-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-bs-placement="top"
                    class="avatar avatar-xs pull-up"
                    title="Sophia Wilkerson"
                  >
                    <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />
                  </li>
                  <li
                    data-bs-toggle="tooltip"
                    data-popup="tooltip-custom"
                    data-bs-placement="top"
                    class="avatar avatar-xs pull-up"
                    title="Christina Parker"
                  >
                    <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                  </li>
                </ul>
              </td> -->
              <td><span class="badge bg-label-primary me-1">Summary</span></td>
              
            </tr>
            
            <tr class="table-default">
              <td><a href="patient-details.html"><strong>RS5938</strong></a></td>
              <td><a href="patient-details.html">Balan</a></td>
              <td><a href="patient-details.html">08-09-2022</a></td>
              
              <td><span class="badge bg-label-primary me-1">Summary</span></td>
              
            </tr>

            <tr class="table-default">
              <td> <a href="patient-details.html"><strong>MJ9184</strong></a></td>
              <td><a href="patient-details.html">Kalyani</a></td>
              <td><a href="patient-details.html">07-09-2022</a></td>
              
              <td><span class="badge bg-label-primary me-1">Summary</span></td>
              
            </tr>

            <tr class="table-default">
              <td> <a href="patient-details.html"><strong>KR2070</strong></a></td>
              <td><a href="patient-details.html">Samyuktha</a></td>
              <td><a href="patient-details.html">07-09-2022</a></td>  
              <!-- <i class="fa-solid fa-file-pdf"></i>                      -->
              <td><span class="badge bg-label-primary me-1">Summary</span></td>
              
            </tr>
            
            
            
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Contextual Classes -->

   
    <!--/ Responsive Table -->
  </div>
  <!-- / Content -->

  

  <div class="content-backdrop fade"></div>

