<div class="layout-page">

    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->
      <!-- <div class="card"> -->
          <!-- <h5 class="card-header"> </h5> -->
          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table table-bordered">
                <thead>
                  <!-- <tr>
                    <th></th>
                    <th></th>
                    
                  </tr> -->
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Name</strong>
                    </td>
                    <td>Madhumitha</td>
                    
                  </tr>

                  <tr>
                      <td>
                        <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>SAM ID</strong>
                      </td>
                      <td>AK7663</td>
                      
                    </tr>
                  
                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>RCH ID</strong>
                      </td>
                      <td>ML8163</td>       
                  </tr>

                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Aadhar No</strong>
                      </td>
                      <td>82364826294</td>       
                  </tr>

                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>ABHA No</strong>
                      </td>
                      <td>20384</td>       
                  </tr>

              
                  <tr>
                    <td>
                      <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Contact No</strong>
                    </td>
                    <td>7411017216</td>                         
                  </tr>

                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>NRC Discharged From</strong>
                      </td>
                      <td>Bangalore</td>       
                  </tr>

                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Discharge Date</strong>
                      </td>
                      <td>08-09-2022</td>       
                  </tr>

                  <tr>
                      <td>
                        <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Standard Deviation on Date of Discharge</strong>
                      </td>
                      <td>-1</td>       
                  </tr>
                </tbody>
              </table>
          <!-- </div> -->
        </div>
     
      <!-- / Content -->

      

      <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
  </div>
  <!-- / Layout page -->
</div>