<div class="layout-page">
    <!-- Navbar -->


    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
      <div class="container-xl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3">Enter Follow Up Details</h4>
      </div>
      <div class="row">
          <div class="col-1"></div>
          <div class="col-6">
            <!-- <div class="card mb-1"> -->
              
              <div class="card-body">
                <form>
                  <div class="mb-4">
                    <label class="form-label" for="basic-default-fullname">Height in Centimeters</label>
                    <input type="text" class="form-control" id="basic-default-fullname" />
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="basic-default-company">Weight in kgs</label>
                    <input type="text" class="form-control" id="basic-default-weight"  />
                  </div>
                  
                    
                  <div class="mb-4">
                    <label class="form-label" for="basic-default-muac">Middle upper arm circumference</label>
                      <input type="text" class="form-control" id="basic-default-muac"/>
                  </div>
                  <div class="mb-4">
                      <label class="form-label" for="basic-default-company">Date of follow up</label>
                      <input type="text" class="form-control" id="basic-default-company"><i aria-flowto=""></i>
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
                </form>
              </div>
            </div>
          <!-- </div> -->
          
        </div>

      

      <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
  </div>