<div class="layout-page">
    <!-- Navbar -->
    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->
      <!-- <div class="card"> -->
          <!-- <h5 class="card-header"> </h5> -->
          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <!-- <th></th>
                    <th></th> -->
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Asha Worker Name</strong>
                    </td>
                    <td>Lalitha</td>
                    
                  </tr>
                  
                  <tr>
                    <td>
                      <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Contact No</strong>
                    </td>
                    <td>7411017216</td>          
                  </tr>

                  <tr>
                    <td>
                      <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Assigned Anganwadi</strong>
                    </td>
                    <td>Electronic City</td>                           
                  </tr>    
                  
                  <tr>
                    <td>
                      <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>No. of Followups Done</strong>
                    </td>
                    <td>246</td>                           
                  </tr>    
                <tr>
                </tbody>
              </table>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31120.546881415245!2d77.62722801562501!3d12.838859100000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6c86c7b1daa1%3A0xe4dd8279d745b064!2sHealth%20Center!5e0!3m2!1sen!2sin!4v1662628343910!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                  </div>
          <!-- </div> -->
        </div>
     
      <!-- / Content -->

      

      <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
  </div>